/*
######################
# UTILIDADES
######################
*/

.orc-required > .control-label:after 
{
	content: "*";
}


/*
######################
# COMPONENTES
######################
*/

/* Tabela Simples */
.kuubuu-tabela-simples {
	margin-top: 15px;
}

.kuubuu-tabela-simples table tr th {
	border-bottom-width: 1px;
}

.kuubuu-tabela-simples table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

/*
###################
# PÁGINAS DO SISTEMA
###################
*/

/* Colunas - Tela de Pesquisa Geral para Código, Nome e Ações */
.table-kuubuu-col-codigo {
	width: 100px;
	text-align: center;
}

.table-kuubuu-col-nome {
	
}

.table-kuubuu-col-acoes {
	width: 80px;
	
}

/*
######################################
# CUSTOMIZAÇÃO DE COMPONENTES
######################################
*/

.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 
}
