<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:kuubuu="http://vinicius.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Computadores</title>
</head>	
<body>
<section layout:fragment="conteudo">
<div class="page-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10">
				<h1>Pesquisa de Computadores</h1> 
			</div>
			
			<div class="col-sm-2">
				<div class="aw-page-header-controls">
					<a class="btn btn-default" th:href="@{/computadores/novo}">
						<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo Computador</span>
					</a>
				</div>
			</div>
		</div>
		
	</div>
</div>

<div class="container-fluid">
	
	<form method="GET" th:object="${computadorFilter}" class="form-vertical  js-form-loading">
		
		<div class="row">
			<div class="col-sm-4 form-group orc-required">
				<label for="nomeComputador" class="control-label">Nome</label>
				<input id="nomeComputador" type="text" class="form-control" th:field=*{nome}/>
			</div>
			
			<div class="col-sm-4 form-group">
				<label for="marcaComputador" class="control-label">Marca</label>
				<select id="marcaComputador" class="form-control" th:field=*{marca}>
					<option value="">Selecione uma marca</option>
					<option th:each="marca : ${marcas}" th:value="${marca.codigo}" th:text="${marca.nome}"></option>
				</select>
			</div>	
			
			<div class="col-sm-4 form-group">
				<label for="modeloComputador" class="control-label">Modelo</label>
				<select id="modeloComputador" class="form-control" th:field=*{modelo}>
					<option value="">Selecione um modelo</option>
					<option th:each="modelo : ${modelos}" th:value="${modelo.codigo}" th:text="${modelo.nome}">optiplex 740</option>
				</select>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4 form-group">
				<label for="setorComputador" class="control-label">Setor</label>
				<select id="setorComputador" class="form-control" th:field=*{setor}>
					<option value="">Selecione um setor</option>
					<option th:each="setor : ${setores}" th:value="${setor.codigo}" th:text="${setor.nome}">CSI</option>
				</select>
			</div>
			
			<div class="col-sm-4 form-group">
				<label for="soComputador" class="control-label">Sistema Operacional</label>
				<select id="soComputador" class="form-control" th:field=*{sistemaOperacional}>
					<option value="">Selecione um sistema</option>
					<option th:each="sistemaOperacional : ${sistemas}" th:value="${sistemaOperacional}" 
						th:text="${sistemaOperacional.descricao}">So
					</option>
				</select>
			</div>
			
			<div class="col-sm-4 form-group">
				<label for="tipoComputador" class="control-label">Tipo de Computador</label>
				<div>
					<th:block th:each="tipoComputador : ${tipoComputadores}">
						<div class="radio  radio-inline">
							<input th:id="|id_${tipoComputador}|" type="radio" th:value="${tipoComputador}" 
								th:field="*{tipoComputador}"> 
							<label th:for="|id_${tipoComputador}|" th:text="${tipoComputador.descricao}">Tipo de Computador</label>
						</div>
					</th:block>
				</div>
			</div>
			
			
		</div>
		
		<div class="row">
			<div class="col-sm-4 form-group">
				<label for="statusComputador" class="control-label">Status do Computador</label>
				<div>
					<th:block th:each=" status: ${statusComputadores}">
						<div class="radio  radio-inline">
							<input th:id="|id_${status}|" type="radio" th:value="${status}" th:field="*{status}"> 
							<label th:for="|id_${status}|" th:text="${status.descricao}">Status do Computador</label>
						</div>
					</th:block>
				</div>
			</div>
			
			
		</div>
		
		<div class="form-group">
			<button class="btn  btn-primary" type="submit">Pesquisar</button>
		</div>
	</form>	
	<div class="table-responsive kuubuu-tabela-simples">
		<table class="table  table-hover">
			<thead>
				<tr>
					<th class="table-kuubuu-col-codigo">Código</th>
					<th class="table-computador-col-nome">Nome</th>
					<th class="table-computador-col-tipo">Tipo</th>
					<th class="table-computador-col-modelo">Modelo</th>
					<th class="table-computador-col-so">SO</th>
					<th class="table-computador-col-code">Code</th>
					<th class="table-computador-col-impressora">Impressora</th>
					<th class="table-computador-col-status">Status</th>
					<th class="table-computador-col-acoes"></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="computador : ${pagina.conteudo}">
					<td class="text-center" th:text="${computador.codigo}">1</td>
					<td th:text="${computador.nome}">1</td>
					<td th:text="${computador.tipoComputador.descricao}">1</td>
					<td th:text="${computador.modelo.nome}">1</td>
					<td th:text="${computador.sistemaOperacional.descricao}">1</td>
					<td th:text="${computador.code}">1</td>
					<td> 
						<span th:each="impressora : ${computador.impressoras}" 
							th:text="|${impressora.nomeRede}-->${impressora.setor.nome}${impressoraStat.last ? '' : ', '}|"></span>
					</td>
					<td th:text="${computador.status.descricao}">1</td>
					
					<td class="text-center">
						<a class="btn  btn-link  btn-xs js-tooltip" title="Editar" th:href="@{/computadores/{codigo}(codigo=${computador.codigo})}"> 
							<i class="glyphicon glyphicon-pencil"></i>
						</a>
						<a class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" title="Excluir" href="#"
							data:url="@{/computadores/{codigo}(codigo=${computador.codigo})}"
							data:objeto="${computador.nome}">
							<i class="glyphicon glyphicon-remove"></i>
						</a>
					</td>
				</tr>
				<tr th:if="${pagina.vazia}">
					<td colspan="3">Nenhum computador encontrado</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<kuubuu:pagination page="${pagina}"/>
	
</div>

</section>
</body>
</html>
