<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:kuubuu="http://vinicius.com.br"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Computadores</title>
</head>	
<body>
<section layout:fragment="conteudo">
<div class="page-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10">
				<h1>Pesquisa de Os para Impressoras</h1> 
			</div>
			
			<div class="col-sm-2" sec:authorize="hasRole('ROLE_CADASTRAR_OSIMPRESSORA')">
				<div class="aw-page-header-controls">
					<a class="btn btn-default" th:href="@{/osimpressoras/nova}">
						<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova Os</span>
					</a>
				</div>
			</div>
		</div>
		
	</div>
</div>

<div class="container-fluid">
	
	<form method="GET" th:object="${osImpressoraFilter}" class="form-vertical  js-form-loading">
		
		<div class="row">
			<div class="col-sm-2 form-group">
				<label for="codigoOsImpressora" class="control-label">Código</label>
				<input id="codigoOsImpressora" type="text" class="form-control" th:field=*{codigo}/>
			</div>
			<div class="form-group col-sm-5">
				<label for="impressoraOsImpressora" class="control-label">Impressora</label>
				<select id="impressoraOsImpressora" class="form-control" th:field="*{impressora}">
					<option value="">Selecione o computador</option>
					<option th:each="impressora : ${impressoras}" th:value="${impressora.codigo}" th:text="|${impressora.numeroDeSerie} -- ${impressora.setor.nome}|">
				</select>
			</div>
			<!--  <div class="form-group col-sm-4">
				<label for="loginEntradaOsComputador" class="control-label">Abertura da Os</label>
				<input type="text" class="form-control" id="loginEntradaOsComputador" th:field="*{loginEntrada.email}"/> 
					
			</div>
			<div class="form-group col-sm-4">
				<label for="loginSaidaOsComputador" class="control-label">Fechamento da os</label>
				<input type="text" class="form-control" id="loginSaidaOsComputador" th:field="*{loginSaida.email}"/> 					
			</div>-->
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
				<label for="tipoManutencaoOsImpressora" class="control-label">Tipo Manutencao</label>
				<select id="tipoManutencaoOsImpressora" class="form-control" th:field="*{tipoManutencao}">
					<option value="">Selecione o tipo da manutenção</option>
					<option th:each="tipoManutencao : ${tipoManutencao}" th:value="${tipoManutencao}" th:text="${tipoManutencao.descricao}">
				</select>
			</div>
			<div class="form-group col-sm-4">
				<label for="statusManutencaoOsImpressora" class="control-label">Status Manutencao</label>
				<select id="statusManutencaoOsImpressora" class="form-control" th:field="*{statusManutencao}">
					<option value="">Selecione o tipo da manutenção</option>
					<option th:each="statusManutencao : ${statusManutencao}" th:value="${statusManutencao}" th:text="${statusManutencao.descricao}">
				</select>
			</div>
			
		</div>
		
		<div class="form-group">
			<button class="btn  btn-primary" type="submit">Pesquisar</button>
		</div>
	</form>	
	<div class="table-responsive kuubuu-tabela-simples">
		<table class="table  table-hover">
			<thead>
				<tr>
					<th class="table-kuubuu-col-codigo">Nº Os</th>
					<th class="table-kuubuu-col-nome">Impressora</th>
					<th class="table-kuubuu-col-nome">Data de Entrada</th>
					<th class="table-kuubuu-col-nome">Data de Fechamento</th>
					<th class="table-kuubuu-col-nome">Usuário de Abertura</th>
					<th class="table-kuubuu-col-nome">Usuário de Fechamento</th>
					<th class="table-kuubuu-col-nome">Status</th>
					<th class="table-kuubuu-col-acoess"></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="osImpressora : ${pagina.conteudo}">
					<td class="text-center" th:text="${osImpressora.codigo}">1</td>
					<td th:text="${osImpressora.impressora.numeroDeSerie}"></td>
					<td th:text="${osImpressora.dataEntrada}"></td>
					<td th:text="${not osImpressora.manutencaoAberto} ? ${osImpressora.dataFechamento}: 'OS aberta'"></td>
					<td th:text="${osImpressora.loginEntrada.email}">1</td>
					<td th:text="${not osImpressora.manutencaoAberto} ? ${osImpressora.loginSaida.email} : 'Os aberta' ">1</td>
					<td>
						<th:block th:if="${osImpressora.manutencaoAberto}">
							<span class="label label-warning" th:text="${osImpressora.statusManutencao.descricao}">em aberto</span>
						</th:block>
						<th:block th:if="${osImpressora.manutencaoSemSolucao}">
							<span class="label label-info" th:text="${osImpressora.statusManutencao.descricao}">sem solução</span>
						</th:block>
						<th:block th:if="${osImpressora.manutencaoFechada}">
							<span class="label label-danger" th:text="${osImpressora.statusManutencao.descricao}">Fechado</span>
						</th:block>
					<td class="text-center">
						<th:block th:if="${osImpressora.manutencaoAberto}" sec:authorize="hasRole('ROLE_CADASTRAR_OSIMPRESSORA')">
							<a class="btn  btn-link  btn-xs js-tooltip" title="Editar" th:href="@{/osimpressoras/{codigo}(codigo=${osImpressora.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
						</th:block>
						
						<a class="btn  btn-link  btn-xs js-tooltip" title="Visualizar" th:href="@{/osimpressoras/visualizar/{codigo}(codigo=${osImpressora.codigo})}"> 
							<i class="glyphicon glyphicon-eye-open"></i>
						</a>
					</td>
				</tr>
				<tr th:if="${pagina.vazia}">
					<td colspan="3">Nenhuma os encontrada</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<kuubuu:pagination page="${pagina}"/>
	
</div>

</section>
</body>
</html>
