<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Cadastro de serviço</title>
</head>
<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<h1>Home</h1>
		</div>
	</div>

	<div class="container-fluid">

		<div class="row">
			<div class="col-sm-4">

				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-desktop  fa-4x"></i><br>
						<a th:href="@{/computadores/novo}"><i class="fa  fa-plus-square fa-1x text-success"></i></a>
						<a th:href="@{/computadores}"><i class="fa  far fa-search fa-1x text-danger"></i></a>
						
					</div>
					<div class="aw-box__value" th:text="${totalDesktops}">300</div>
					<div class="aw-box__title">Total de Desktop</div>
				</div>

			</div>

			<div class="col-sm-4">

				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-laptop  fa-3x"></i>
					</div>
					<div class="aw-box__value" th:text="${totalNotebooks}">400</div>
					<div class="aw-box__title">Total de Notebooks</div>
				</div>

			</div>
			
			<div class="col-sm-4">

				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-television  fa-3x"></i>
					</div>
					<div class="aw-box__value" th:text="${totalTouchs}">5</div>
					<div class="aw-box__title">Total de Touch</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">

				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-users  fa-4x"></i><br>
						<a th:href="@{/usuarios/novo}"><i class="fa  fa-plus-square fa-1x text-success"></i></a>
						<a th:href="@{/usuarios}"><i class="fa  far fa-search fa-1x text-danger"></i></a>
					</div>
					<div class="aw-box__value" th:text="${usuarios}">1.298</div>
					<div class="aw-box__title">Total de Usuários</div>
				</div>

			</div>
			
			<div class="col-sm-4">

				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  far fa-print  fa-3x"></i>
					</div>
					<div class="aw-box__value" th:text="${totalImpTermicas}">5</div>
					<div class="aw-box__title">Total Impressora Térmica</div>
				</div>

			</div>

			<div class="col-sm-4">

				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-archive fa-4x"></i><br>
						<a th:href="@{/impressoras/novo}"><i class="fa  fa-plus-square fa-1x text-success"></i></a>
						<a th:href="@{/impressoras}"><i class="fa  far fa-search fa-1x text-danger"></i></a>
					</div>
					<div class="aw-box__value" th:text="${totalImpEscritorio}">123</div>
					<div class="aw-box__title">Total Impressora de Escritório</div>
				</div>

			</div>

			
		</div>
		
		<div>
			<h2 align="center" style="color: red">Lista de Chamados Abertos</h2>
		</div>
		
		<div class="table-responsive kuubuu-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-kuubuu-col-codigo">Nº Os</th>
						<th class="table-kuubuu-col-nome">Equipamento</th>
						<th class="table-kuubuu-col-nome">Data de Entrada</th>
						<th class="table-kuubuu-col-nome">Data de Fechamento</th>
						<th class="table-kuubuu-col-nome">Usuário de Abertura</th>
						<th class="table-kuubuu-col-nome">Usuário de Fechamento</th>
						<th class="table-kuubuu-col-nome">Status</th>
						<th class="table-kuubuu-col-acoess"></th>
					</tr>
				</thead>
			 
				<tbody>
					<tr th:each="osComputador : ${osComputadores}">
						<td class="text-center" th:text="${osComputador.codigo}">1</td>
						<td th:text="${osComputador.computador.nome}"></td>						
						<td th:text="${osComputador.dataEntrada}"></td>
						<td th:text="${not osComputador.manutencaoAberto} ? ${osComputador.dataFechamento}: 'OS aberta'"></td>
						<td th:text="${osComputador.loginEntrada.email}">1</td>
						<td th:text="${not osComputador.manutencaoAberto} ? ${osComputador.loginSaida.email} : 'Os aberta' ">1</td>
						<td>
							<th:block th:if="${osComputador.manutencaoAberto}">
								<span class="label label-warning" th:text="${osComputador.statusManutencao.descricao}">em aberto</span>
							</th:block>
							<th:block th:if="${osComputador.manutencaoSemSolucao}">
								<span class="label label-info" th:text="${osComputador.statusManutencao.descricao}">sem solução</span>
							</th:block>
							<th:block th:if="${osComputador.manutencaoFechada}">
								<span class="label label-danger" th:text="${osComputador.statusManutencao.descricao}">Fechado</span>
							</th:block>
						<td class="text-center">
							<th:block th:if="${osComputador.manutencaoAberto}" sec:authorize="hasRole('ROLE_CADASTRAR_OSCOMPUTADOR')">
								<a class="btn  btn-link  btn-xs js-tooltip" title="Responder" th:href="@{/oscomputadores/{codigo}(codigo=${osComputador.codigo})}"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
							</th:block>
							
							<a class="btn  btn-link  btn-xs js-tooltip" title="Visualizar" th:href="@{/oscomputadores/visualizar/{codigo}(codigo=${osComputador.codigo})}"> 
								<i class="glyphicon glyphicon-eye-open"></i>
							</a>
						</td>
					</tr>
					<!--  <tr th:if="${}">
						<td colspan="3">Nenhuma os encontrada</td>
					</tr>-->
				</tbody>
				<!-- <thead>
					<tr>
						<th class="table-kuubuu-col-codigo">Código</th>
						<th class="table-kuubuu-col-nome">Computador</th>
						<th class="table-kuubuu-col-nome">Data de Entrada</th>
						<th class="table-kuubuu-col-nome">Data de Fechamento</th>
						<th class="table-kuubuu-col-nome">Usuário de Abertura</th>
						<th class="table-kuubuu-col-nome">Usuário de Fechamento</th>
						<th class="table-kuubuu-col-nome">Status</th>
						<th class="table-kuubuu-col-acoess"></th>
					</tr>
				</thead>-->
				<tbody>
					<tr th:each="osImpressora : ${osImpressoras}">
						<td class="text-center" th:text="${osImpressora.codigo}">1</td>
						<td th:text="${osImpressora.impressora.numeroDeSerie}"></td>						
						<td th:text="${osImpressora.dataEntrada}"></td>
						<td th:text="${not osImpressora.manutencaoAberto} ? ${osImpressora.dataFechamento}: 'OS aberta'"></td>
						<td th:text="${osImpressora.loginEntrada.email}">1</td>
						<td th:text="${not osImpressora.manutencaoAberto} ? ${osImpressora.loginSaida.email} : 'Os aberta' ">1</td>
						  <td>
							<th:block th:if="${osImpressora.manutencaoAberto}">
								<span class="label label-warning" th:text="${osImpressora.statusManutencao.descricao}">em aberto</span>
							</th:block>
							<th:block th:if="${osImpressora.manutencaoSemSolucao}">
								<span class="label label-info" th:text="${osImpressora.statusManutencao.descricao}">sem solução</span>
							</th:block>
							<th:block th:if="${osImpressora.manutencaoFechada}">
								<span class="label label-danger" th:text="${osImpressora.statusManutencao.descricao}">Fechado</span>
							</th:block>
						<td class="text-center">
							<th:block th:if="${osImpressora.manutencaoAberto}" sec:authorize="hasRole('ROLE_CADASTRAR_OSIMPRESSORA')">
								<a class="btn  btn-link  btn-xs js-tooltip" title="Responder" th:href="@{/osimpressoras/{codigo}(codigo=${osImpressora.codigo})}"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
							</th:block>
							
							<a class="btn  btn-link  btn-xs js-tooltip" title="Visualizar" th:href="@{/osimpressoras/visualizar/{codigo}(codigo=${osImpressora.codigo})}"> 
								<i class="glyphicon glyphicon-eye-open"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	
		<!--  <kuubuu:pagination page="${pagina}"/>-->
<!--
		<div class="row col-sm-12">
			<div class="aw-box text-center">
				<div class="aw-box__title">Cadastro</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-archive fa-3x"></i><br>
					</div>
					<br>
					<p>cadastro</p>
					
				</div>
			</div>
			
		</div>
		  <div class="col-sm-6">
				<a th:href="@{/impressoras/novo}" class="btn btn-success">
					<i class="fa  far fa-print  fa-3x"></i><br>Cadastro de Impressora</a>
			</div>-->
	</div>
</section>
</body>
</html>