<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">
<head>
	<title>Cadastro de serviço</title>
</head>
<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<h1>Home</h1>
		</div>
	</div>

	<div class="container-fluid">

		<div class="row">
			<div class="col-sm-4">

				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-desktop  fa-4x"></i><br>
						<a th:href="@{/computadores/novo}"><i class="fa  fa-plus-square fa-1x text-success"></i></a>
						<a th:href="@{/computadores}"><i class="fa  far fa-search fa-1x text-danger"></i></a>
						
					</div>
					<div class="aw-box__value" th:text="${totalDesktops}">300</div>
					<div class="aw-box__title">Total de Desktop</div>
				</div>

			</div>

			<div class="col-sm-4">

				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-laptop  fa-3x"></i>
					</div>
					<div class="aw-box__value" th:text="${totalNotebooks}">400</div>
					<div class="aw-box__title">Total de Notebooks</div>
				</div>

			</div>
			
			<div class="col-sm-4">

				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-truck  fa-3x"></i>
					</div>
					<div class="aw-box__value">3.344</div>
					<div class="aw-box__title">Touch</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">

				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-users  fa-4x"></i><br>
						<a th:href="@{/usuarios/novo}"><i class="fa  fa-plus-square fa-1x text-success"></i></a>
						<a th:href="@{/usuarios}"><i class="fa  far fa-search fa-1x text-danger"></i></a>
					</div>
					<div class="aw-box__value" th:text="${usuarios}">1.298</div>
					<div class="aw-box__title">Total de Usuários</div>
				</div>

			</div>
			
			<div class="col-sm-4">

				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  far fa-print  fa-3x"></i>
					</div>
					<div class="aw-box__value">5</div>
					<div class="aw-box__title">Total Impressora Térmica</div>
				</div>

			</div>

			<div class="col-sm-4">

				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-archive fa-4x"></i><br>
						<a th:href="@{/impressoras/novo}"><i class="fa  fa-plus-square fa-1x text-success"></i></a>
						<a th:href="@{/impressoras}"><i class="fa  far fa-search fa-1x text-danger"></i></a>
					</div>
					<div class="aw-box__value">123</div>
					<div class="aw-box__title">Total Impressora de Escritório</div>
				</div>

			</div>

			
		</div>
<!--
		<div class="row col-sm-12">
			<div class="aw-box text-center">
				<div class="aw-box__title">Cadastro</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="aw-box">
					<div class="aw-box__icon">
						<i class="fa  fa-archive fa-3x"></i><br>
					</div>
					<br>
					<p>cadastro</p>
					
				</div>
			</div>
			
		</div>
		  <div class="col-sm-6">
				<a th:href="@{/impressoras/novo}" class="btn btn-success">
					<i class="fa  far fa-print  fa-3x"></i><br>Cadastro de Impressora</a>
			</div>-->
	</div>
</section>
</body>
</html>