<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:kuubuu="http://vinicius.com.br">

<head>
	<title>Computadores</title>
</head>	
<body>
<section layout:fragment="conteudo">
<div class="page-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10">
				<h1>Pesquisa de Maquinas</h1> 
			</div>
			
			<div class="col-sm-2">
				<div class="aw-page-header-controls">
					<a class="btn btn-default" th:href="@{/maquinas/nova}">
						<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Nova Maquina</span>
					</a>
				</div>
			</div>
		</div>
		
	</div>
</div>

<div class="container-fluid">
	
	<form method="GET" th:object="${maquinaFilter}" class="form-vertical  js-form-loading">
		
		<div class="row">
			<div class="col-sm-4 form-group">
				<label for="nomeMaquina" class="control-label">Nome</label>
				<input id="nomeMaquina" type="text" class="form-control" th:field=*{nome}/>
			</div>
			
			<div class="col-sm-4 form-group">
				<label for="sigmaMaquina" class="control-label">Sigma</label>
				<input id="sigmaMaquina" type="text" class="form-control" th:field=*{sigma}/>
			</div>
			
			<div class="col-sm-4 form-group">
				<label for="computadorMaquina" class="control-label">Computador</label>
				<select id="computadorMaquina" class="form-control" th:field="*{computador}">
					<option value="">Selecione um computador</option>
					<option th:each="computador : ${computadores}" th:value="${computador.codigo}" th:text="${computador.nome}">
				</select>
			</div>	
			
		</div>
		
		<div class="form-group">
			<button class="btn  btn-primary" type="submit">Pesquisar</button>
		</div>
	</form>	
	<div class="table-responsive kuubuu-tabela-simples">
		<table class="table  table-hover">
			<thead>
				<tr>
					<th class="table-kuubuu-col-codigo">Código</th>
					<th class="table-maquina-col-nome">Nome</th>
					<th class="table-maquina-col-sigma">Sigma</th>
					<th class="table-maquina-col-computador">Computador</th>
					<th class="table-maquina-col-impressora">Impressora</th>
					<th class="table-maquina-col-setor">Setor</th>
					<th class="table-maquina-col-acoes"></th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="maquina : ${pagina.conteudo}">
					<td class="text-center" th:text="${maquina.codigo}">1</td>
					<td th:text="${maquina.nome}">1</td>
					<td th:text="${maquina.sigma}">1</td>
					<td th:text="${maquina.computador.nome}">1</td>
					<td th:text="${maquina.impressora.modelo.nome}">1</td>
					<td th:text="${maquina.setor.nome}">1</td>
					
					<td class="text-center">
						<a class="btn  btn-link  btn-xs" title="Editar" th:href="@{/maquinas/{codigo}(codigo=${maquina.codigo})}"> 
							<i class="glyphicon glyphicon-pencil"></i>
						</a>
						<a class="btn  btn-link  btn-xs" title="Excluir">
							<i class="glyphicon glyphicon-remove"></i>
						</a>
					</td>
				</tr>
				<tr th:if="${pagina.vazia}">
					<td colspan="6">Nenhuma maquina encontrada</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<kuubuu:pagination page="${pagina}"/>
	
</div>

</section>
</body>
</html>
