<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:kuubuu="">

<head>
	<title>Computadores</title>
</head>	
<body>
<section layout:fragment="conteudo">
<div class="page-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10">
				<h1>Cadastro de Toner</h1>
			</div>
			<!--  
			<div class="col-sm-2">
				<div class="aw-page-header-controls">
					<a class="btn btn-default" th:href="@{/documentos}">
						<i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisar Documento</span>
					</a>
				</div>
			</div>-->
		</div>
		
	</div>
</div>

<div class="container-fluid">
	
	<th:block th:include="fragments/SucessoValidacao"></th:block>
	
	<form method="post" th:object="${toner}" class="form-vertical  js-form-loading">
		
		<th:block th:include="fragments/ErroValidacao"></th:block>
		
		<div class="row">
			<div class="col-sm-4 form-group orc-required" kuubuu:errortext="filial" >
				<label for="filialToner" class="control-label">Filial</label>
				<select id="filialToner" class="form-control" th:field="*{filial}">
					<option value="">Selecione uma filial</option>
					<option th:each="filial : ${filiais}" th:value="${filial.codigo}" th:text="${filial.nome}"></option>
				</select>
			</div>
			
			<div class="col-sm-4 form-group orc-required" kuubuu:errortext="modelo" >
				<label for="modeloToner" class="control-label">Modelo</label>
				<select id="modeloToner" class="form-control" th:field="*{modelo}">
					<option value="">Selecione um modelo</option>
					<option th:each="modelo : ${modelos}" th:value="${modelo.codigo}" th:text="${modelo.nome}"></option>
				</select>
			</div>
			
			<div class="col-sm-4 form-group orc-required" kuubuu:errortext="marca" >
				<label for="marcaToner" class="control-label">Marca</label>
				<select id="marcaToner" class="form-control" th:field="*{marca}">
					<option value="">Selecione uma marca</option>
					<option th:each="marca : ${marcas}" th:value="${marca.codigo}" th:text="${marca.nome}"></option>
				</select>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group" kuubuu:errortext="email">
				<label for="emailToner" class="control-label">Email</label>
				<input id="emailToner" type="text" class="form-control" th:field=*{email}/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
   				<label for="obsToner">Observação</label>
  				<textarea class="form-control" id="obsToner" rows="3" th:field="*{obs}"></textarea>
				
			</div>
		</div>
		
		
		<div class="form-group">
			<button class="btn  btn-primary" type="submit">Salvar</button>
			<!--  <a href="pesquisa-produtos.html" class="btn  btn-default">Cancelar</a>-->
		</div>

	</form>
</div>

</section>
</body>
</html>
