<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:kuubuu="">

<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

		<nav class="aw-menu  js-menu">
			<ul class="aw-menu__list">

				<li class="aw-menu__item"><a th:href="@{/}" kuubuu:menu=@{/}><i
						class="fa  fa-fw  fa-home"></i><span>Home</span></a>
				</li>

				<li class="aw-menu__item" >
					<a href="#"> <i class="fa fa-fw fa-user-plus"></i><span>Cadastros</span> <i
						class="aw-menu__navigation-icon  fa"></i>
					</a>

					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/computadores/novo}>
							<a th:href="@{/computadores/novo}">Computador</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/filiais/nova}>
							<a th:href="@{/filiais/nova}">Filial</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/impressoras/novo}>
							<a th:href="@{/impressoras/novo}">Impressora</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/logins/novo}>
							<a th:href="@{/logins/novo}">Login</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/maquinas/nova}>
							<a th:href="@{/maquinas/nova}">Máquina</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/marcas/nova}>
							<a th:href="@{/marcas/nova}">Marca</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/modelos/novo}>
							<a th:href="@{/modelos/novo}">Modelo</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/programas/novo}>
							<a th:href="@{/programas/novo}">Programa</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/setores/novo}>
							<a th:href="@{/setores/novo}">Setor</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/tipomodelos/novo}>
							<a th:href="@{/tipomodelos/novo}">Tipo Modelo</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/toners/novo}>
							<a th:href="@{/toners/novo}">Toner</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/usuarios/novo} sec:authorize="hasRole('ROLE_CADASTRAR_COMPUTADOR')">
							<a th:href="@{/usuarios/novo}">Usuario</a>
						</li>
					</ul>
				</li>
				
				<li class="aw-menu__item">
					<a href="#"> <i class="fa fa-fw fa-search"></i><span>Buscar</span> <i
						class="aw-menu__navigation-icon  fa"></i>
					</a>

					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/computadores}>
							<a th:href="@{/computadores}">Computadores</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/filiais}>
							<a th:href="@{/filiais}">Filiais</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/impressoras}>
							<a th:href="@{/impressoras}">Impressoras</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/maquinas}>
							<a th:href="@{/maquinas}">Maquinas</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/marcas}>
							<a th:href="@{/marcas}">Marcas</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/modelos}>
							<a th:href="@{/modelos}">Modelos</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/programas}>
							<a th:href="@{/programas}">Programas</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/setores}>
							<a th:href="@{/setores}">Setores</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/tipomodelos}>
							<a th:href="@{/tipomodelos}">Tipo de Modelos</a>
						</li>
						<li class="aw-menu__item  aw-menu__item--link" kuubuu:menu=@{/usuarios}>
							<a th:href="@{/usuarios}">Usuários</a>
						</li>
					</ul>
				</li>

				<li class="aw-menu__item  is-expanded"><a href="#"> <i
						class="fa  fa-fw  fa-file-text"></i><span>Páginas comuns</span> <i
						class="aw-menu__navigation-icon  fa"></i>
				</a>

					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link"><a
							href="pagina-vazia.html">Página vazia</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							href="login.html">Login</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							href="esqueceu-a-senha.html">Esqueceu a senha</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							href="403.html">403</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							href="404.html">404</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							href="500.html">500</a></li>
					</ul></li>
			</ul>
		</nav>
	</div>
</aside>
</body>
</html>	