<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:kuubuu="">

<head>
	<title>Computadores</title>
</head>	
<body>
<section layout:fragment="conteudo">
<div class="page-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10">
				<h1 th:if="${filial.nova}">Cadastro de Filial</h1>
				<h1 th:unless="${filial.nova}" th:text="|Edição da filial ${filial.nome}|"></h1>
			</div>
			 
			<div class="col-sm-2">
				<div class="aw-page-header-controls">
					<a class="btn btn-default" th:href="@{/filiais}">
						<i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisar Filiais</span>
					</a>
				</div>
			</div>
		</div>
		
	</div>
</div>

<div class="container-fluid">
	
	<th:block th:include="fragments/SucessoValidacao"></th:block>
	
	<form method="post" th:object="${filial}" class="form-vertical  js-form-loading"
		th:action="${filial.nova} ? @{/filiais/nova} : @{/filiais/{codigo}(codigo=${filial.codigo})}">
		
		<th:block th:include="fragments/ErroValidacao"></th:block>
		
		<input type="hidden" th:field=*{codigo}>
		
		<div class="row">
			<div class="col-sm-12 form-group orc-required" kuubuu:errortext="nome">
				<label for="nomeFilial" class="control-label">Nome</label>
				<input id="nomeFilial" type="text" class="form-control" th:field=*{nome}/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
   				<label for="obsFilial">Observação</label>
  				<textarea class="form-control" id="obsFilial" rows="3" th:field="*{obs}"></textarea>
				
			</div>
		</div>
		
		
		<div class="form-group">
			<button class="btn  btn-primary" type="submit">Salvar</button>
			<!--  <a href="pesquisa-produtos.html" class="btn  btn-default">Cancelar</a>-->
		</div>

	</form>
</div>

</section>
</body>
</html>
