<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:kuubuu=""
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Computadores</title>
</head>	
<body>
<section layout:fragment="conteudo">
<div class="page-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10">
				<h1 th:if="${osComputador.nova}">Manutenção de Computador</h1>
				<h1 th:unless="${osComputador.nova}" th:text="|Edição da os ${osComputador.codigo}|"></h1>
			</div>
			 
			<div class="col-sm-2" sec:authorize="hasRole('ROLE_PESQUISAR_OSCOMPUTADOR')">
				<div class="aw-page-header-controls">
					<a class="btn btn-default" th:href="@{/oscomputadores}">
						<i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisar de Os</span>
					</a>
				</div>
			</div>
		</div>
		
	</div>
</div>

<div class="container-fluid">
	
	<th:block th:include="fragments/SucessoValidacao"></th:block>
	
	<form method="post" th:object="${osComputador}" class="form-vertical  js-form-loading"
		th:action="${osComputador.nova} ? @{/oscomputadores/nova} : @{/oscomputadores/{codigo}(codigo=${osComputador.codigo})}">
		
		  <th:block th:include="fragments/ErroValidacao"></th:block> 
		
		<input type="hidden" th:field=*{codigo}>
		
		<div class="row">
			<div class="col-sm-12 form-group orc-required" kuubuu:errortext="descricao">
				<label for="descricaoOsComputador" class="control-label">Descrição do Problema</label>
				<textarea class="form-control" id="descricaoOsComputador" rows="3" th:field="*{descricao}"></textarea>
			</div>
		</div>
		
		<div class="row">
			<th:block th:if="${not osComputador.nova}">
				<div class="form-group  col-sm-2 orc-required" kuubuu:errortext="dataEntrada">
					<label for="dataEntrada" class="control-label">Data de Entrada</label>
					<span class="form-control" id="dataEntrada" th:text="${osComputador.dataEntrada}"></span>
					<input type="hidden" th:field="*{dataEntrada}" th:value="${dataEntrada}"/>
					
				</div>
				
				<th:block th:if="${not osComputador.manutencaoAberto && osComputador.finalizado}">
					<div class="form-group  col-sm-2 orc-required" kuubuu:errortext="dataFechamento">
						<label for="dataFechamento" class="control-label">Data de Fechamento</label>
						<span class="form-control" id="dataFechamento" th:text="${osComputador.dataFechamento}"></span>
						<input type="hidden" th:field="*{dataFechamento}" th:value="${dataFechamento}"/>
					</div>
				</th:block>
				
				<div class="form-group col-sm-2">
					<label for="loginEntradaOsComputador" class="control-label">Usuário de Abertura</label>
					<span class="form-control" id="loginEntradaOsComputador" th:text="${osComputador.loginEntrada.email}"></span>
					<input type="hidden" th:field="*{loginEntrada}" th:value="${loginEntrada}"/>
				</div>
				
				<th:block th:if="${not osComputador.manutencaoAberto && osComputador.finalizado}">
					<div class="form-group col-sm-2">
						<label for="loginSaidaOsComputador" class="control-label">Usuário de Fechamento</label>
						<span class="form-control" id="loginSaidaOsComputador" th:text="${osComputador.loginSaida}" ></span>
						<input type="hidden" th:field="*{loginSaida}" th:value="${loginSaida}"/>
					</div>
				</th:block>
				
				<div class="form-group col-sm-2">
					<label for="computadorUsuarioOsComputador" class="control-label">Usuário Computador</label>
					<span class="form-control" id="computadorUsuarioOsComputador" th:text="${osComputador.computador.usuario.nome}"></span>
					<input type="hidden" th:field="*{computador}" th:value="${computador}"/>		
				</div>	
			</th:block>
		</div>
		
		<div class="row">
			<div class="form-group col-sm-4 orc-required" kuubuu:errortext="tipoManutencao">
				<label for="tipoManutencaoOsComputador" class="control-label">Tipo Manutencao</label>
				<select id="tipoManutencaoOsComputador" class="form-control" th:field="*{tipoManutencao}">
					<option value="">Selecione o tipo da manutenção</option>
					<option th:each="tipoManutencao : ${tipoManutencao}" th:value="${tipoManutencao}" th:label="${tipoManutencao.descricao}">
				</select>
			</div>
			
			<th:block th:if="${not osComputador.nova}">
				<div class="form-group col-sm-4 orc-required" kuubuu:errortext="statusManutencao">
					<label for="statusManutencaoOsComputador" class="control-label">Status Manutencao</label>
					<select id="statusManutencaoOsComputador" class="form-control" th:field="*{statusManutencao}">
						<option value="">Selecione o tipo da manutenção</option>
						<option th:each="statusManutencao : ${statusManutencao}" th:value="${statusManutencao}" th:label="${statusManutencao.descricao}">
					</select>
				</div>
			</th:block>
			
			<th:block th:if="${osComputador.nova}">
				<div class="form-group col-sm-4 orc-required" kuubuu:errortext="computador">
					<label for="computadorOsComputador" class="control-label">Computador</label>
					<select id="computadorOsComputador" class="form-control" th:field="*{computador}">
						<option value="">Selecione o computador</option>
						<option th:each="computador : ${computadores}" th:value="${computador.codigo}" th:text="${computador.nome}">
					</select>
				</div>
			</th:block>
			<th:block th:if="${not osComputador.nova}">
				<div class="form-group col-sm-4 orc-required" kuubuu:errortext="computador">
					<label for="computadorOsComputador" class="control-label">Computador</label>
					<span class="form-control" id="computadorOsComputador" th:text="${osComputador.computador.nome}" ></span>
					<input type="hidden" th:field="*{computador}" th:value="${computadorOsComputador}"/>
				</div>
			</th:block>
		</div>
		<div class="row">
			<th:block th:if="${not osComputador.nova}">
				<div class="col-sm-12 form-group orc-required" kuubuu:errortext="solucao">
	   				<label for="solucaoOsComputador">Solução do Problema</label>
	  				<textarea class="form-control" id="solucaoOsComputador" rows="3" th:field="*{solucao}"></textarea>
				</div>
			</th:block>
		</div>
		<div class="row">
			<div class="col-sm-12 form-group">
   				<label for="obsOsComputador">Observação</label>
  				<textarea class="form-control" id="obsOsComputador" rows="3" th:field="*{obs}"></textarea>
				
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<th:block th:if="${not osComputador.nova}">
					<button class="btn  btn-primary" type="submit">FinalizarOs</button>
				</th:block>
				
				<a href="pesquisa-produtos.html" class="btn  btn-default">Cancelar</a>
		</div>
		</div>
	<!--
		<div class="row">	 
			<div class="col-sm-6 form-group orc-required" kuubuu:errortext="tipoEquipamento">
				<label for="tipoEquipamento" class="control-label">Tipo de Equipamento</label>
				<div>
					<th:block th:each=" tipoEquipamento: ${tipoEquipamentos}">
						<div class="radio  radio-inline">
							<input th:id="|id_${tipoEquipamento}|" type="radio" th:value="${tipoEquipamento}" th:field="*{tipoEquipamento}"> 
							<label th:for="|id_${tipoEquipamento}|" th:text="${tipoEquipamento.descricao}">Categoria da Impressora</label>
						</div>
					</th:block>
				</div>
			</div>
			
			<div class="col-sm-6 form-group orc-required" kuubuu:errortext="computador">
				<label for="computadorOs" class="control-label">computador</label>
				<select id="computadorOs" class="form-control" th:field=*{computador}>
					<option value="">Selecione um Computador</option>
					<option th:each="computador : ${computadores}" th:value="${computador.codigo}" th:text="${computador.nome}"></option>
				</select>
			</div>
			
		</div>
		
		
		
		
		
-->
	</form>
</div> 


</section>
</body>
</html>
