<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:kuubuu=""
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Computadores</title>
</head>	
<body>
<section layout:fragment="conteudo">
<div class="page-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10">
				<h1>Visualizar Os Computador</h1>
			</div>
			 
			<div class="col-sm-2" > <!--  sec:authorize="hasRole('ROLE_PESQUISAR_FILIAL')">-->
				<div class="aw-page-header-controls">
					<a class="btn btn-default" th:href="@{/oscomputadores}">
						<i class="glyphicon  glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisar de Os</span>
					</a>
				</div>
			</div>
		</div>
		
	</div>
</div>

<div class="container-fluid">
	
	<th:block th:include="fragments/SucessoValidacao"></th:block>
	
	<form method="post" th:object="${osComputador}" class="form-vertical  js-form-loading"
		th:action="${osComputador.nova} ? @{/oscomputadores/nova} : @{/oscomputadores/{codigo}(codigo=${osComputador.codigo})}">
		
		  <th:block th:include="fragments/ErroValidacao"></th:block> 
		
		<input type="hidden" th:field=*{codigo}>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<label for="descricaoOsComputador" class="control-label">Descrição do Problema</label>
				<textarea class="form-control" id="descricaoOsComputador" rows="3" th:field="*{descricao}" disabled></textarea>
			</div>
		</div>
		
		<div class="row">
			
			<div class="form-group  col-sm-2">
				<label for="dataEntrada" class="control-label">Data de Entrada</label>
				<span class="form-control" id="dataEntrada" th:text="${osComputador.dataEntrada}"></span>	
			</div>
			
			<th:block th:if="${osComputador.dataFechamento != null}">
				<div class="form-group  col-sm-2" >
					<label for="dataFechamento" class="control-label">Data de Fechamento</label>
					<span class="form-control" id="dataFechamento" th:text="${osComputador.dataFechamento}"></span>
				</div>
			</th:block>
			
			
			<div class="form-group col-sm-3">
				<label for="loginEntradaOsComputador" class="control-label">Usuário de Abertura</label>
				<span class="form-control" id="loginEntradaOsComputador" th:text="${osComputador.loginEntrada.email}"></span>
				
			</div>
			
			<th:block th:if="${osComputador.loginSaida != null}">
				<div class="form-group col-sm-3">
					<label for="loginSaidaOsComputador" class="control-label">Usuário de Fechamento</label>
					<span class="form-control" id="loginSaidaOsComputador" th:text="${osComputador.loginSaida.email}"></span>
					
				</div>	
			</th:block>
			<div class="form-group col-sm-2">
				<label for="loginSaidaOsComputador" class="control-label">Usuário Computador</label>
				<span class="form-control" id="loginSaidaOsComputador" th:text="${osComputador.computador.usuario.nome}"></span>		
			</div>	
		</div>
		
		<div class="row">
			<div class="form-group col-sm-4">
				<label for="tipoManutencaoOsComputador" class="control-label">Tipo Manutencao</label>
				<span class="form-control" th:text="${osComputador.tipoManutencao.descricao}"></span>
			</div>
			
			<div class="form-group col-sm-4">
				<label for="statusManutencaoOsComputador" class="control-label">Status Manutencao</label>
				<span class="form-control" th:text="${osComputador.statusManutencao.descricao}"></span>
			</div>
			
			<div class="form-group col-sm-4">
				<label for="computadorOsComputador" class="control-label">Computador</label>
				<span class="form-control" th:text="${osComputador.computador.nome}"></span>
			</div>
		</div>	
		
		<div class="row">
			<th:block th:if="${osComputador.solucao != null}">
				
				<div class="col-sm-12 form-group">
		   			<label for="solucaoOsComputador">Solução do Problema</label>
		  			<textarea class="form-control" id="solucaoOsComputador" rows="3" th:field="*{solucao}" disabled></textarea>
				</div>
				
			</th:block>
	
		</div>
				
		<div class="row">
			
			<div class="col-sm-12 form-group">
   				<label for="obsOsComputador">Observação</label>
  				<textarea class="form-control" id="obsOsComputador" rows="3" th:field="*{obs}" disabled></textarea>	
			</div>
			
		</div>	
		<div class="form-group" style="text-align: center">
			<a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
		</div>
			
	</form>
</div>		
		<!--  
		
				
		
		<div class="row">
			
		</div>
		
	</form>
</div> 

-->
</section>
</body>
</html>
