<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:kuubuu=""
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Computadores</title>
</head>	
<body>
<section layout:fragment="conteudo">

<div class="container-fluid">
	
	<th:block th:include="fragments/SucessoValidacao"></th:block>
	
	<form method="post" class="form-vertical  js-form-loading"
		th:action="@{/relatorios/todoscomputadores}">
		
		
		<div class="form-group">
			<button class="btn  btn-primary" type="submit">Salvar</button>
			<!--  <a href="pesquisa-produtos.html" class="btn  btn-default">Cancelar</a>-->
		</div>

	</form>
</div>

</section>
</body>
</html>
